body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.header {
  background-color: #007bff;
  padding: 1rem;
  color: white;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 1rem;
}

.form-container {
  background-color: white;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
}

.form-container label {
  display: block;
  margin-bottom: 0.5rem;
}

.form-container input[type="text"],
.form-container input[type="number"],
.form-container input[type="file"] {
  width: calc(100% - 1rem);
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 1rem;
}

.form-container input[type="submit"] {
  background-color: #007bff;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.delete-button {
  background-color: #dc3545 !important;
}

.form-container input[type="submit"]:hover {
  background-color: #0069d9;
}

.location-list {
  list-style: none;
  padding: 0;
}

.location-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 1rem 2rem;
  margin-bottom: 1rem;
  border-radius: 5px;
}

.location-item-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.location-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 0 0 1rem 2rem;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.star {
  color: #ffc107;
}
